Repository jaikeex/cookhound: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

[ROOT] - dockerfile hostname fix
  Dockerfile
Due: none

[ROOT] - secrets are no longer passed as build args to docker
  .github/workflows/deploy.yml
  Dockerfile
Due: none

[CLIENT] - recipe json-ld updates and fixes
  src/client/components/atoms/StructuredData/Recipe/component.tsx
  src/client/locales/cs.json
  src/client/locales/t.ts
  src/server/utils/seo/schema.test.ts
  src/server/utils/seo/schema.ts
Due: prettier --write, eslint

[SERVER] - server/proxy refactor
  src/proxy.ts
  src/server/proxy/index.ts
  src/server/proxy/redirects.ts
  src/server/proxy/routes.ts
  src/server/proxy/steps/verify-route-access.ts
Due: prettier --write, eslint

[SERVER] - verify-recipe-path proxy guard
  src/proxy.ts
  src/server/proxy/steps/verify-recipe-path.ts
Due: prettier --write, eslint

[CLIENT] - framer motion now used through lazy motion
  src/app/providers.tsx
  src/client/components/molecules/Accordion/component.tsx
  src/client/store/ModalContext/context.tsx
  src/client/store/MotionProvider/features.ts
  src/client/store/MotionProvider/index.ts
  src/client/store/MotionProvider/provider.tsx
  src/client/store/index.ts
Due: prettier --write, eslint

[SERVER] - google register now checks its email verification
  src/client/locales/cs.json
  src/common/types/user.ts
  src/server/services/auth/service.test.ts
  src/server/services/auth/service.ts
  src/server/services/user/service.test.ts
  src/server/services/user/service.ts
Due: prettier --write, eslint

[CLIENT] - no more getCurrentUser unnecessary calls
  src/app/api/auth/google/route.ts
  src/app/api/auth/login/route.ts
  src/client/data/auth/__tests__/useCurrentUser.test.tsx
  src/client/data/auth/query/client.ts
  src/client/data/auth/query/keys.ts
  src/common/constants/general.ts
  src/server/utils/session/cookie.ts
Due: prettier --write, eslint

[CLIENT] - minor cleanup
  src/client/store/ConsentContext/context.tsx
  src/common/utils/user/cookie-consent.ts
Due: prettier --write, eslint

[PROJECT] - minor client bundle size fixes
  src/app/api/users/route.ts
  src/client/components/organisms/InstructionsList/Create/component.tsx
  src/client/components/organisms/Recipe/View/Desktop/DesktopRecipeBody/component.tsx
  src/client/components/organisms/Recipe/View/Mobile/MobileRecipeBody/component.tsx
  src/common/constants/index.ts
  src/server/utils/terms/serializeTermsContent.ts
Due: prettier --write, eslint

[SERVER] - user content reports server side code
  src/app/api/admin/reports/[reportId]/route.ts
  src/app/api/admin/reports/route.ts
  src/app/api/reports/route.ts
  src/common/constants/index.ts
  src/common/constants/reports.ts
  src/common/types/index.ts
  src/common/types/reports/report.ts
  src/server/db/migrations/20260724082810_add_content_reports/migration.sql
  src/server/db/migrations/20260724122527_content_report_one_open_per_target/migration.sql
  src/server/db/model/content-report/model.ts
  src/server/db/model/index.ts
  src/server/db/model/user/model.ts
  src/server/db/schema.prisma
  src/server/error/codes.ts
  src/server/queues/jobs/emails/SendAdminReportNotificationJob.ts
  src/server/queues/jobs/emails/SendReportDecisionJob.ts
  src/server/queues/jobs/emails/SendReportReceiptJob.ts
  src/server/queues/jobs/emails/templates/admin-report-notification.ts
  src/server/queues/jobs/emails/templates/index.ts
  src/server/queues/jobs/emails/templates/report-decision.ts
  src/server/queues/jobs/emails/templates/report-receipt.ts
  src/server/queues/jobs/index.ts
  src/server/queues/jobs/names.ts
  src/server/services/content-report/service.test.ts
  src/server/services/content-report/service.ts
  src/server/services/content-report/types.ts
  src/server/services/content-report/utils.ts
  src/server/services/index.ts
  src/server/services/mail/service.ts
  src/server/services/notification/messages.ts
  src/server/services/notification/service.ts
  src/server/services/notification/types.ts
  src/server/types/index.ts
  src/server/types/reports.ts
Due: prettier --write, eslint

[CLIENT] - user content reports client side code
  src/client/components/molecules/Form/Textarea/component.tsx
  src/client/components/molecules/Image/RecipeView/component.tsx
  src/client/components/organisms/Modal/ReportContentModal/component.tsx
  src/client/components/organisms/Modal/ReportContentModal/index.ts
  src/client/components/organisms/Modal/index.ts
  src/client/data/DataProvider.tsx
  src/client/data/admin/adapters/httpAdapter.ts
  src/client/data/admin/port.ts
  src/client/data/auth/__tests__/useCurrentUser.test.tsx
  src/client/data/file/__tests__/useUploadRecipeImage.test.tsx
  src/client/data/ingredient/__tests__/useIngredients.test.tsx
  src/client/data/queryClient.ts
  src/client/data/recipe/__tests__/useRecipeById.test.tsx
  src/client/data/report/__tests__/useSubmitReport.test.tsx
  src/client/data/report/adapters/httpAdapter.ts
  src/client/data/report/adapters/index.ts
  src/client/data/report/index.ts
  src/client/data/report/port.ts
  src/client/data/report/query/client.ts
  src/client/data/report/query/keys.ts
  src/client/data/repositories.ts
  src/client/data/user/__tests__/useGetUserById.test.tsx
  src/client/locales/cs.json
  src/client/request/apiClient/client.ts
  src/client/request/apiClient/report/ReportApiClient.ts
  src/client/request/apiClient/report/index.ts
  src/client/utils/index.ts
  src/client/utils/reportLabels.ts
Due: prettier --write, eslint

[PROJECT] - user content reports admin dashboard
  src/app/admin/reports/loading.tsx
  src/app/admin/reports/page.tsx
  src/client/components/organisms/Modal/AdminReportDetailModal/component.tsx
  src/client/components/organisms/Modal/AdminReportDetailModal/index.ts
  src/client/components/templates/Admin/Dashboard/component.tsx
  src/client/components/templates/Admin/Layout/component.tsx
  src/client/components/templates/Admin/Reports/component.tsx
  src/client/components/templates/Admin/Reports/index.ts
  src/client/components/templates/Admin/Reports/skeleton.tsx
  src/client/components/templates/Admin/index.ts
  src/client/data/admin/query/client.ts
  src/client/data/admin/query/keys.ts
  src/client/request/apiClient/admin/AdminApiClient.ts
  src/common/constants/routes.ts
  src/common/types/dto/AdminDashboardStatsDTO.ts
  src/server/services/admin/service.ts
Due: prettier --write, eslint

[SERVER] - minor fixes
  prisma/seed.ts
  src/common/constants/general.ts
  src/server/db/migrations/20260326122906_admin_action_logs/migration.sql
  src/server/db/migrations/20260722092838_czech_only_db/migration.sql
  src/server/utils/seo/schema.test.ts
Due: prettier --write, eslint

[ROOT] - v1.3.7
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint

[CLIENT] - proper favicon
  public/favicon-16x16.ico
  public/favicon-16x16.png
  public/favicon-32x32.ico
  public/favicon-32x32.png
  src/client/components/atoms/Head/component.tsx
Due: prettier --write, eslint

[CLIENT] - user and recipe soft 404s removed
  src/app/profil/[id]/page.tsx
  src/app/recept/[displayId]/[[...titleSlug]]/page.tsx
  src/client/components/atoms/StructuredData/Recipe/component.tsx
  src/client/components/atoms/StructuredData/User/component.tsx
  src/client/components/templates/Profile/component.tsx
  src/client/components/templates/Recipe/View/component.tsx
Due: prettier --write, eslint

[PROJECT] - recipe hub
  src/app/recepty/_lib/hubPage.tsx
  src/app/recepty/page.tsx
  src/app/sitemap.ts
  src/client/components/atoms/StructuredData/Recipe/component.tsx
  src/client/components/molecules/Footer/component.tsx
  src/client/components/molecules/Tag/Display/List/component.tsx
  src/client/components/molecules/Tag/Display/Single/component.tsx
  src/client/components/organisms/Recipe/View/Desktop/DesktopRecipeHead/component.tsx
  src/client/components/organisms/Recipe/View/Mobile/MobileRecipeHead/component.tsx
  src/client/components/templates/HubIndex/component.tsx
  src/client/components/templates/HubIndex/index.ts
  src/client/components/templates/index.ts
  src/client/locales/cs.json
  src/common/constants/hubs/content.test.ts
  src/common/constants/hubs/content.ts
  src/common/constants/hubs/index.ts
  src/common/constants/hubs/resolve.test.ts
  src/common/constants/hubs/resolve.ts
  src/common/constants/hubs/slugs.test.ts
  src/common/constants/hubs/slugs.ts
  src/common/constants/routes.ts
  src/server/data/hub/server.ts
  src/server/db/model/recipe-tag/model.ts
  src/server/db/sql/getIndexableHubs.sql
  src/server/services/hub/service.ts
  src/server/services/recipe-tag/service.ts
  src/server/utils/seo/schema.test.ts
  src/server/utils/seo/schema.ts
Due: prettier --write, eslint

[CLIENT] - cleanup and minor improvements
  CLAUDE.md
  README.md
  next.config.mjs
  src/client/components/atoms/Head/component.tsx
  src/client/hooks/useLocalStorage/hook.ts
  src/proxy.ts
Due: prettier --write, eslint

[CLIENT] - model cache fixes
  src/client/components/organisms/Modal/CreateCookbookModal/component.tsx
  src/server/db/model/cookbook/model.ts
  src/server/db/model/ingredient/model.ts
  src/server/db/model/model-cache.ts
  src/server/db/model/recipe-flag/model.ts
  src/server/db/model/recipe/model.ts
  src/server/db/model/user/model.ts
  src/server/queues/jobs/recipes/EvaluateRecipeJob.ts
  src/server/services/openai-api/service.ts
  src/server/services/recipe/service.ts
Due: prettier --write, eslint

[PROJECT] - minor fixes
  src/client/components/templates/Terms/component.tsx
  src/client/data/admin/query/client.ts
  src/client/data/auth/query/client.ts
  src/client/data/contact/query/client.ts
  src/client/data/cookbook/query/client.ts
  src/client/data/file/query/client.ts
  src/client/data/ingredient/query/client.ts
  src/client/data/recipe/query/client.ts
  src/client/data/report/query/client.ts
  src/client/data/tag/query/client.ts
  src/client/data/user/query/client.ts
  src/client/locales/cs.json
  src/server/db/model/cookbook/model.ts
Due: prettier --write, eslint

[CLIENT] - use client directive cleanup
  src/client/components/atoms/Avatar/component.tsx
  src/client/components/atoms/Input/Base/component.tsx
  src/client/components/molecules/CaptchaDisclosure/component.tsx
  src/client/components/molecules/List/RecipeCardGrid/component.tsx
  src/client/components/molecules/List/RecipeCardGrid/index.ts
  src/client/components/molecules/List/RecipeCardList/component.tsx
  src/client/components/molecules/List/index.ts
  src/client/components/molecules/Tag/Display/Single/component.tsx
  src/client/components/organisms/Form/ChangeEmail/component.tsx
  src/client/components/organisms/Form/Contact/component.tsx
  src/client/components/organisms/Form/Cookbook/component.tsx
  src/client/components/organisms/Navigation/Top/Menu/Anonymous/component.tsx
  src/client/components/organisms/Navigation/Top/Menu/LoggedIn/component.tsx
  src/client/components/organisms/Navigation/Top/Menu/component.tsx
  src/client/components/organisms/Profile/Body/Recipes/component.tsx
  src/client/components/templates/Admin/ApiDocs/ClientUsageSection/component.tsx
  src/client/components/templates/Admin/ApiDocs/ResponsesSection/component.tsx
  src/client/components/templates/Cookbook/component.tsx
  src/client/components/templates/Error/Banned/component.tsx
  src/client/components/templates/Error/Flagged/component.tsx
  src/client/components/templates/Error/Restricted/component.tsx
  src/client/components/templates/Error/TooManyRequests/component.tsx
  src/client/components/templates/Hub/component.tsx
  src/client/components/templates/Recipe/View/FlaggedGate/component.tsx
  src/client/components/templates/Recipe/View/FlaggedGate/index.ts
  src/client/components/templates/Recipe/View/VisitPing/component.tsx
  src/client/components/templates/Recipe/View/VisitPing/index.ts
  src/client/components/templates/Recipe/View/component.tsx
  src/client/components/templates/Recipe/View/index.ts
Due: prettier --write, eslint

[CLIENT] - useScreenSize reworked
  src/client/components/molecules/Rating/component.tsx
  src/client/components/molecules/Sidebar/useSidebar.ts
  src/client/hooks/useScreenSize/hook.ts
Due: prettier --write, eslint

[ROOT] - yarn updated to 4.18 and npmMinimalAgeGate added
  .dockerignore
  .github/workflows/deploy.yml
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  package.json
  yarn.lock
Due: none

[CLIENT] - error screens improved
  src/app/admin/error.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/client/components/templates/Error/Boundary/component.tsx
  src/client/components/templates/Error/Boundary/index.ts
  src/client/components/templates/Error/index.ts
  src/client/locales/cs.json
Due: prettier --write, eslint

[ROOT] - v1.3.8
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint

[ROUTER] - droped force-dynamic from pages that do not need it
  src/app/auth/callback/google/page.tsx
  src/app/auth/callback/reset-password/page.tsx
  src/app/auth/callback/verify-email/page.tsx
  src/app/auth/prihlaseni/page.tsx
  src/app/auth/registrace/page.tsx
  src/app/auth/reset-hesla/page.tsx
  src/app/auth/verify-email-change/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/error/restricted/page.tsx
  src/app/filtr/page.tsx
  src/app/kontakt/page.tsx
  src/app/vyhledavani/page.tsx
Due: prettier --write, eslint

[ROOT] - server-only added as a dependency
  package.json
  yarn.lock
Due: none

[PROJECT] - moved seo utils from server to common
  src/app/(home)/page.tsx
  src/app/admin/api-docs/page.tsx
  src/app/admin/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/users/page.tsx
  src/app/auth/prihlaseni/page.tsx
  src/app/auth/registrace/page.tsx
  src/app/auth/reset-hesla/page.tsx
  src/app/auth/verify-email-change/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/error/banned/page.tsx
  src/app/error/restricted/page.tsx
  src/app/error/too-many-requests/page.tsx
  src/app/filtr/page.tsx
  src/app/kontakt/page.tsx
  src/app/kucharky/[displayId]/page.tsx
  src/app/nakupni-seznam/page.tsx
  src/app/not-found.tsx
  src/app/podminky/page.tsx
  src/app/profil/[id]/page.tsx
  src/app/recept/[displayId]/[[...titleSlug]]/page.tsx
  src/app/recepty/_lib/hubPage.tsx
  src/app/recepty/page.tsx
  src/app/soukromi/page.tsx
  src/app/vyhledavani/page.tsx
  src/client/components/atoms/StructuredData/Generic/component.tsx
  src/client/components/atoms/StructuredData/Recipe/component.tsx
  src/client/components/atoms/StructuredData/User/component.tsx
  src/common/utils/seo/index.ts
  src/common/utils/seo/metadata.ts
  src/common/utils/seo/schema.test.ts
  src/common/utils/seo/schema.ts
Due: prettier --write, eslint

[SERVER] - proxy route policies now match on segment boundaries
  src/server/proxy/steps/verify-route-access.test.ts
  src/server/proxy/steps/verify-route-access.ts
Due: prettier --write, eslint

[PROJECT] - profile tab seeds
  src/app/(home)/page.tsx
  src/app/kucharky/[displayId]/page.tsx
  src/app/nakupni-seznam/page.tsx
  src/app/profil/[id]/page.tsx
  src/app/vyhledavani/page.tsx
  src/client/components/molecules/Tabs/component.tsx
  src/client/components/organisms/Profile/Body/Cookbooks/component.tsx
  src/client/components/organisms/Profile/Body/Recipes/component.tsx
  src/client/components/templates/Dashboard/Search/component.tsx
  src/client/components/templates/Profile/Desktop/component.tsx
  src/client/components/templates/Profile/Mobile/component.tsx
  src/client/components/templates/Profile/component.tsx
  src/client/components/templates/Profile/tabs.ts
  src/client/hooks/useRecipeDiscovery/hook.ts
  src/client/hooks/useRunOnce/hook.test.tsx
  src/common/constants/general.ts
  src/server/data/cookbook/server.ts
  src/server/data/recipe/server.ts
  src/server/data/runtime/ensureContext.ts
  src/server/services/cookbook/service.ts
  src/server/services/recipe/service.ts
  src/server/utils/reqwest/context/httpContext.ts
Due: prettier --write, eslint

[ROOT] - claude.md updated
  CLAUDE.md
Due: none

[CLIENT] - minor fixes
  .github/workflows/deploy.yml
  deploy/nginx/cookhound.com.conf
  src/client/styles/theme/animations.css
Due: prettier --write

[CLIENT] - seo improvements
  .gitattributes
  public/favicon.ico
  src/app/kontakt/page.tsx
  src/app/layout.tsx
  src/app/podminky/page.tsx
  src/app/sitemap.ts
  src/app/soukromi/page.tsx
  src/app/vyhledavani/page.tsx
  src/client/components/atoms/Head/component.tsx
  src/client/components/molecules/Card/Recipe/component.tsx
  src/client/components/organisms/Banner/component.tsx
  src/client/components/templates/Dashboard/FrontPage/component.tsx
  src/client/locales/cs.json
  src/common/utils/seo/metadata.ts
  src/proxy.ts
Due: prettier --write, eslint

[ROOT] - origin env added to vitest config
  vitest.config.mjs
Due: none

[ROOT] v1.3.9
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint

[CLIENT] - recipe image size fixes
  src/client/components/atoms/Image/RecipeImage/component.tsx
  src/client/components/molecules/Form/Image/component.tsx
  src/client/components/molecules/Image/RecipeView/component.tsx
  src/client/components/organisms/Modal/ImageCropperModal/component.tsx
  src/client/components/organisms/Recipe/View/Desktop/DesktopRecipeHead/component.tsx
  src/client/components/organisms/Recipe/View/Mobile/MobileRecipeHead/component.tsx
  src/client/locales/cs.json
Due: prettier --write, eslint

[CLIENT] - client data readme update
  src/client/data/README.md
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx,jsx}) or (any of: *.css)
  eslint: any of: *.{js,ts,tsx,jsx}
