Repository jaikeex/cookhound: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.{js,ts,tsx,jsx}": ["prettier --write", "eslint --fix"],
    "*.css": "prettier --write"
}

[ROOT][master] - v1.0.2
  package.json
Due: none

[CLIENT][master] - version is now displayed in the footer
  src/client/components/molecules/Footer/component.tsx
  src/client/locales/cs.json
  src/client/locales/en.json
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - remove bottom padding from page-wrapper
  src/client/globals.css
Due: prettier --write

[CLIENT][master] - remove search icon from top navigation on mobile
  src/client/components/organisms/Navigation/Top/component.tsx
Due: prettier --write, eslint --fix

[ROOT][master] - Next.js 15.5.5
  package.json
  yarn.lock
Due: none

[CLIENT][master] - removed unnecessary dev console logs
  src/client/store/AuthContext/context.tsx
  src/client/store/ConsentContext/context.tsx
Due: prettier --write, eslint --fix

[CLIENT][master] - reset tag suggestions counter on form submission
  src/client/hooks/useRecipeFormController/hook.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - modals moved from molecules to organisms
  src/client/components/molecules/Card/CookbookRecipe/component.tsx
  src/client/components/molecules/Image/RecipeView/component.tsx
  src/client/components/molecules/index.ts
  src/client/components/organisms/Modal/AddRecipeToCookbookModal/component.tsx
  src/client/components/organisms/Modal/AddRecipeToCookbookModal/index.ts
  src/client/components/organisms/Modal/ConsentSettingsModal/component.tsx
  src/client/components/organisms/Modal/ConsentSettingsModal/index.ts
  src/client/components/organisms/Modal/CreateCookbookModal/component.tsx
  src/client/components/organisms/Modal/CreateCookbookModal/index.ts
  src/client/components/organisms/Modal/DeleteAccountModal/component.tsx
  src/client/components/organisms/Modal/DeleteAccountModal/index.ts
  src/client/components/organisms/Modal/DeleteFromCookbookConfirmationModal/component.tsx
  src/client/components/organisms/Modal/DeleteFromCookbookConfirmationModal/index.ts
  src/client/components/organisms/Modal/DeleteRecipeConfirmationModal/component.tsx
  src/client/components/organisms/Modal/DeleteRecipeConfirmationModal/index.ts
  src/client/components/organisms/Modal/ImageCropperModal/component.tsx
  src/client/components/organisms/Modal/ImageCropperModal/index.ts
  src/client/components/organisms/Modal/LogoutAllConfirmModal/component.tsx
  src/client/components/organisms/Modal/LogoutAllConfirmModal/index.ts
  src/client/components/organisms/Modal/TagSelectionModal/component.tsx
  src/client/components/organisms/Modal/TagSelectionModal/index.ts
  src/client/components/organisms/Modal/index.ts
  src/client/components/organisms/Modal/types.ts
  src/client/components/organisms/Profile/Body/Cookbooks/component.tsx
  src/client/components/organisms/index.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - desktop profile head layout updated
  src/client/components/organisms/Profile/Head/Desktop/component.tsx
Due: prettier --write, eslint --fix

[ROOT][master] - updated README.md
  README.md
Due: none

[ROOT][master] - v1.0.3
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[CLIENT][socials] - added aspect-square to icon-button
  src/client/globals.css
Due: prettier --write

[CLIENT][socials] - added socoal network icons
  src/client/components/atoms/Icons/names.ts
  src/client/components/atoms/Icons/svg/socials/email.svg
  src/client/components/atoms/Icons/svg/socials/facebook.svg
  src/client/components/atoms/Icons/svg/socials/index.ts
  src/client/components/atoms/Icons/svg/socials/share.svg
  src/client/components/atoms/Icons/svg/socials/twitter.svg
  src/client/components/atoms/Icons/svg/socials/whatsapp.svg
Due: prettier --write, eslint --fix

[CLIENT][socials] - socials constants and types
  src/client/constants/index.ts
  src/client/constants/social-sharing.ts
  src/client/constants/ui.ts
Due: prettier --write, eslint --fix

[CLIENT][socials] - social sharing components, utils and translations
  src/client/components/atoms/Avatar/component.tsx
  src/client/components/molecules/Button/Share/component.tsx
  src/client/components/molecules/Button/Share/index.ts
  src/client/components/molecules/Button/index.ts
  src/client/components/molecules/Image/RecipeView/component.tsx
  src/client/components/organisms/Modal/ShareModal/component.tsx
  src/client/components/organisms/Modal/ShareModal/index.ts
  src/client/components/organisms/Modal/index.ts
  src/client/locales/cs.json
  src/client/locales/en.json
  src/client/utils/index.ts
  src/client/utils/social-sharing/index.ts
  src/client/utils/social-sharing/share.ts
Due: prettier --write, eslint --fix

[CLIENT][socials] - metadata update and other fixes
  src/app/recipe/[displayId]/page.tsx
  src/client/components/molecules/Button/Share/component.tsx
  src/client/components/molecules/Image/RecipeView/component.tsx
  src/client/components/organisms/Recipe/View/Desktop/DesktopRecipeHead/component.tsx
  src/client/components/organisms/Recipe/View/Mobile/MobileRecipeHead/component.tsx
  src/server/utils/seo/metadata.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - user prefetching fixed
  src/app/layout.tsx
  src/client/request/queryClient/auth/authQueryClient.ts
  src/client/store/QueryContext/context.tsx
Due: prettier --write, eslint --fix

[ROOT][master] - v1.0.4
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[SERVER][master] - auth service test typescript fixes
  src/server/services/auth/service.test.ts
Due: prettier --write, eslint --fix

[SERVER][master] - gsa credentials regenerated and moved to env variables
  .env.sample
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  docker-compose.yml
  src/common/constants/env/index.ts
  src/server/integrations/google/gsa/accounts/gapi-logging-sa.json
  src/server/integrations/google/gsa/accounts/gapi-mail-sa.json
  src/server/integrations/google/gsa/accounts/gapi-storage-sa.json
  src/server/integrations/google/gsa/accounts/index.ts
  src/server/integrations/google/gsa/gsaStore.ts
Due: prettier --write, eslint --fix

[SERVER][master] - updated LogServiceMethod to ensure no sensitive data is logged
  src/server/logger/wrappers/logMethod.ts
  src/server/services/auth/service.ts
  src/server/services/user/service.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - revalidate route cache token guard
  .env.sample
  src/app/api/revalidate/route.ts
  src/client/components/templates/Recipe/View/useDisplayRecipe.ts
  src/client/hooks/useRecipeFormController/hook.ts
  src/common/constants/env/index.ts
  src/common/utils/index.ts
  src/common/utils/revalidateRouteCache.ts
  src/server/queues/jobs/recipes/EvaluateRecipeJob.ts
  src/server/services/recipe/service.ts
  src/server/utils/revalidateRouteCache.ts
Due: prettier --write, eslint --fix

[ROUTER][master] - all relevant routes are now rate limited
  src/app/api/auth/google/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/contact/route.ts
  src/app/api/cookbooks/[id]/recipe/route.ts
  src/app/api/cookbooks/me/route.ts
  src/app/api/file/avatar-img/route.ts
  src/app/api/file/recipe-img/route.ts
  src/app/api/recipes/[id]/route.ts
  src/app/api/recipes/[id]/visits/route.ts
  src/app/api/recipes/route.ts
  src/app/api/recipes/tags/suggestions/route.ts
  src/app/api/users/[id]/preferences/route.ts
  src/app/api/users/[id]/route.ts
  src/app/api/users/[id]/shopping-list/route.ts
  src/app/api/users/me/cookie-consent/route.ts
  src/app/api/users/me/delete/route.ts
  src/app/api/users/reset-password/route.ts
  src/app/api/users/route.ts
  src/app/api/users/verify-email/route.ts
Due: prettier --write, eslint --fix

[SERVER][master] - rate limiting is now disabled in e2e tests
  src/server/utils/rate-limit/wrapper.ts
Due: prettier --write, eslint --fix

[SERVER][master] - password is now always hashed on login
  src/server/services/auth/service.test.ts
  src/server/services/auth/service.ts
  src/server/services/user/service.test.ts
  src/server/utils/crypto/password.ts
  src/server/utils/tests/helpers.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - added google oauth state check
  src/app/auth/callback/google/page.tsx
  src/client/hooks/useGoogleSignIn/hook.ts
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[SERVER][master] - strengthened argon2 settings and automatic rehashing
  src/server/services/auth/service.test.ts
  src/server/services/auth/service.ts
  src/server/services/user/service.test.ts
  src/server/utils/crypto/password.ts
  src/server/utils/tests/helpers.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - recipe rating refresh fix
  src/client/components/templates/Recipe/View/useDisplayRecipe.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - lastViewedRecipes persistence fix
  src/client/components/templates/Recipe/View/component.tsx
Due: prettier --write, eslint --fix

[SERVER][master] - old session cookie now explicitly deleted on login
  src/server/services/auth/service.ts
Due: prettier --write, eslint --fix

[SERVER][master] - image security fixes and other minor updates
  src/app/api/file/avatar-img/route.ts
  src/app/api/file/recipe-img/route.ts
  src/common/types/cookie-consent.ts
  src/common/types/terms-acceptance.ts
  src/server/services/user/service.ts
  src/server/utils/multipart/readMultipartFile.ts
Due: prettier --write, eslint --fix

[ROOT][master] - node types version update
  package.json
  yarn.lock
Due: none

[CLIENT][master] - share url origin fix
  src/client/components/organisms/Modal/ShareModal/component.tsx
  src/client/utils/social-sharing/share.ts
Due: prettier --write, eslint --fix

[CLIENT][master] - removed lastViewedRecipes from local storage
  src/client/components/organisms/RecipeSearchInput/SearchSuggestionBox/component.tsx
  src/client/components/organisms/RecipeSearchInput/component.tsx
  src/client/components/templates/Recipe/View/component.tsx
  src/client/locales/cs.json
  src/client/locales/en.json
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[ROOT][master] - docs updated with new commands
  README.md
Due: none

[ROOT][master] - added revalidate path token to environment variables
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
Due: none

[ROOT][master] - v1.0.5
  package.json
  src/common/constants/general.ts
Due: prettier --write, eslint --fix

[ROOT][master] - nextjs & react version update
  package.json
  yarn.lock
Due: none

[CLIENT][master] - added hydration check to the cookie consent banner
  src/client/components/organisms/ConsentBanner/component.tsx
Due: prettier --write, eslint --fix
